<!DOCTYPE html>
<html>
<head>
	<meta content="utf-8" http-equiv="encoding">
	<title>Mapov</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="{{url_for('static',filename='dist/css/bootstrap.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='dist/css/custom-mapov.css')}}" rel="stylesheet">
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	<script src="{{url_for('static',filename='jquery-1.11.1.min.js')}}"></script>

</head>
<body>
<script>
// Used to communicate conditions for dynamic properties between
//front and back end
var p = {{ path_bool| safe}}
</script>

<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="{{url_for('static',filename='img/brand.png')}}" width="60"></a>
          <a class="navbar-brand" href="#">M@pov</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('about') }}">About</a></li>
           {% if not session.logged_in %}
             <li><a href="{{ url_for('login') }}">Sign in</a></li>
           {% else %}
             <li><a href="{{ url_for('logout') }}">Sign out</a></li>
					{% endif %}
          </ul>
        </div>
      <div class="nav navbar-right navbar-collapse collapse">
				{% if not session.logged_in %}
        	<a  href="{{ url_for('login') }}" class="btn btn-primary navbar-btn">Craft Path</a>
				{% else %}
					<a class="btn btn-primary navbar-btn" onclick="showEdge1();" >Craft Path</a>
    	  {% endif %}
	  </div>
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
              <input id="start_point" type="text" class="form-control" placeholder="Start point">
          </div>
      </form>
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
              <input id="end_point" type="text" class="form-control" placeholder="End point">
          </div>
          <a  onclick="randomWalk()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Random walk</a>
      </form>
      </div>
    </nav>

{% if session.logged_in %}
		<!-- Sidebar -->
	<div id="wrapper">
			<div id="sidebar-wrapper">
					<ul class="sidebar-nav">
							<li class="sidebar-brand">
									<a href="#">
									Number of crafted paths: {{ session.rank}}
									</a>
							</li>
							<li>
									<p id="enter_edge">Please select an edge</br>
							</li>
							<li id ='rank_in' >
									<form id="rank">
										    Please enter rank:
										<input id="the_rank" type="text" size=3 align="right" ></br>
										    <p>The rank should be between 0-100</br>
										<a  class="btn btn-primary" onclick="enterRankz()">submit edge</a>
										
										<p>Edge limit 1km</br>
									</form>

							</li>
					</ul>
			</div>
</div>
{% endif %}
<div id="wrapper">
			<div id="sidebar-wrapper">
					<ul class="sidebar-nav">
							<li id ='rank_path'>
									<form id="rank" >
										    Please enter rank:
										<input id="rank_p_e" type="text" size=3 align="right" ></br>
										    <p>The rank should be between 0-100</br>

										<a  class="btn btn-primary" onclick="submitRank()">submit rank</a>
										
									</form>
							</li>
					</ul>
			</div>
</div>


<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>

	<div id='map' ></div>
	<script src="{{url_for('static',filename='dist/js/mapcons.js')}}"></script>
</body>
</html>
