<html>
<head>
    <meta charset=utf-8 />
    <title>Sign up</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="{{url_for('static',filename='dist/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='dist/css/login.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='jquery-1.11.1.min.js')}}"></script>
</head>
<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Sign up with your email account</h1>
                    <form role="form" action=""{{ url_for('signup') }}"" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="addr" class="sr-only">Postcode</label>
                            <input type="text" name="addr" id="addr" class="form-control" placeholder="Type postcode">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="text" name="key" id="key" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="key2" class="sr-only">Password2</label>
                            <input type="text" name="key2" id="key2" class="form-control" placeholder="Type pasword again">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign up">
                    </form>
                    <hr>
        	    </div>
    		</div>
    	</div>
    </div>
</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</footer>
