<html>
<head>
    <meta charset=utf-8 />
    <title>Mapov</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="/home/francisco/selp/SELP/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/home/francisco/selp/SELP/static/dist/css/login.css" rel="stylesheet">
    <script src="/home/francisco/selp/SELP/static/jquery-1.11.1.min.js"></script>
    <script src="/home/francisco/selp/SELP/static/dist/js/login.js"></script>
</head>
<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Sign up with your email account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password2</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Type pasword again">
                        </div>
                        <!-- <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div> -->
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign up">
                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Page © - 2014</p>
            </div>
        </div>
    </div>
</footer>